.tag {
	display: inline-block;
	background-color: #f2f2f3;
	color: #6d6d6d;
	padding: 2px 5px;
	margin: 0 5px;
	font-size: 12px;
	transform: scale(0.9);
	border-radius: 2px;
	box-sizing: border-box;
}
